/* Header title */
h1 {
  text-align: center;
  padding: 1em;
  font: 36px monospace;
  border: 5px solid;
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* paragraph description */
p {
  text-align: center;
  font: 22px serif;
  font-style: italic;
  padding: 2px;
  margin-bottom: 2em;
  color: blue;
}

/* HTML user input form */
form {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  padding: 2em;
  border: 5px solid #CCC;
  border-radius: 2em;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* list tags within my HTML form */
ul {
  list-style: none;
  padding: 3px;
  margin: 0 auto;
}

form li + li {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* labels that are above the input boxes */
label {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* the text boxes that the users are inputting data in */
input {
  font: 14px monospace;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus {
  border-color: #000;
}

/* the submit and display user buttons */
.button {
  width: 100%;
  text-align: center;
}

button {
  color: red;
}

/* smart devices media-query */
@media screen and (min-width: 480px) {
  p {
    text-align: left;
    font: 18px serif;
    font-style: italic;
    padding: 1px;
    margin-bottom: 1em;
    color: blue;
  }

  button {
    color: blue;
  }

  input:focus {
    border-color: black;
  }

  input {
    font: 12px monospace;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid gray;
  }

  form {
    background-color: aqua;
  }
}

/* tablet devices media-query */
@media screen and (min-width: 768px) {
  p {
    text-align: left;
    font: 20px serif;
    padding: 2px;
    margin-bottom: 2em;
    color: green;
    background-color: yellow;
  }

  button {
    color: green;
  }

  input:focus {
    border-color: #000;
  }

  input {
    font: 14px monospace;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #999;
  }
}

/* desktop/laptop/PC devices media query */
@media screen and (min-width: 1080px) {
  p {
    text-align: center;
    font: 22px serif;
    font-style: italic;
    padding: 3px;
    margin-bottom: 3em;
    color: red;
    background-color: lightgrey;
  }

  button {
    color: red;
  }

  input:focus {
    border-color: #000;
  }

  input {
    font: 16px monospace;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
}