h1 {
  text-align: center;
  padding: 1em;
  font: 36px monospace;
  border: 5px solid;
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  text-align: center;
  font: 22px serif;
  font-style: italic;
  padding: 2px;
  margin-bottom: 2em;
  color: blue;
}

form {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  padding: 2em;
  border: 5px solid #CCC;
  border-radius: 2em;
  margin-top: 2px;
  margin-bottom: 2px;
}

ul {
  list-style: none;
  padding: 3px;
  margin: 0 auto;
}

form li + li {
  margin-top: 1em;
  margin-bottom: 1em;
}

label {
  display: inline-block;
  width: 100%;
  text-align: center;
}

input {
  font: 14px monospace;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus {
  border-color: #000;
}

.button {
  width: 100%;
  text-align: center;
}

button {
  color: red;
}

@media screen and (min-width: 480px) {
  p {
    font: 30px sans-serif;
  background-color: green;
  }
}

@media screen and (min-width: 768px) {
  p {
    font: 20px sans-serif;
  background-color: yellow;
  }
}